            <section class="news section-padding bg-dark" id="news">
                <div class="container pb-3">
                    <div class="row">

                        <div class="col-12">
                            <h2 class="mb-5 text-center" data-aos="fade-up">News & Events</h2>
                        </div>

                        <div class="col-lg-6 col-12 mb-5 mb-lg-0 ">
                            <div class="news-thumb" data-aos="fade-up">
                                <a href="/login" class="news-image-hover news-image-hover-warning">
                                    <img src="/assets/img/gallery/critical-thinking.png" class="img-fluid large-news-image news-image" alt="">
                                </a>

                                <div class="news-category bg-primary text-white">News</div>
                                
                                <div class="news-text-info">
                                    <h5 class="news-title">
                                        <a href="/upload" class="news-title-link text-white">
                                         Electrical & Electronics Circuit designing and 
                                         applications in real Life</a>
                                    </h5>

                                    <span class="text-white">22 hours ago</span>
                                </div>
                            </div> 
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="news-thumb news-two-column d-flex flex-column flex-lg-row" data-aos="fade-up">
                                <div class="news-top w-100">
                                    
                                    <a href="/upload" class="news-image-hover news-image-hover-primary">
                                        <img src="/assets/img/gallery/critical-thinking.png" class="img-fluid news-image" alt="">
                                    </a>

                                    <div class="news-category bg-primary text-white">Events</div>
                                </div>
                                
                                <div class="news-bottom w-100">
                                    <div class="news-text-info">
                                        <h5 class="news-title">
                                            <a href="/upload" class="news-title-link text-white">programming: Exercise for Python</a>
                                        </h5>

                                        <div class="d-flex flex-wrap">
                                            <span class="text-muted me-2">
                                                <i class="bi-geo-alt-fill me-1 mb-2 mb-lg-0"></i>
                                                Bootcamp,
                                            </span>

                                            <span class="text-muted">August 6, 2021</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                            <div class="news-thumb news-two-column d-flex flex-column flex-lg-row" data-aos="fade-up">
                                <div class="news-top w-100" data-aos="fade-up">
                                    
                                    <a href="/upload" class="news-image-hover news-image-hover-success">
                                        <img src="/assets/img/gallery/yel.png" class="img-fluid news-image" alt="">
                                    </a>

                                    <div class="news-category bg-primary text-white">News</div>
                                </div>
                                
                                <div class="news-bottom w-100">
                                    <div class="news-text-info">
                                        <h5 class="news-title">
                                            <a href="/upload" class="news-title-link text-white">Programming with YelTec?</a>
                                        </h5>

                                        <span class="text-muted">6 days ago</span>
                                    </div>
                                </div>
                            </div> 
                        </div>

                    </div>
                </div>
            </section>
